.category_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
 
}

.arrow {
  color: #666363;
  border: none;
  padding: 10px;
  background:none;
  cursor: pointer;
  font-size: 14px;
}

.arrow:hover{
  cursor: pointer;
  background-color: #636264;
  color: #05000e;
  border-radius: 10px;
}

.category_container {
  display: flex;
  gap: 60px;
  overflow: hidden;
}

.category_btn {
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #4b494f;
  background: #fff;
  color: #020006;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.category_btn:hover {
  background: #05000e;
  color: #fff;
}

@media (max-width: 768px) {
  .category_btn {
    font-size: 13px;
    padding: 8px 14px;
  }
}
