.hero_cnt {
  width: 100%;
  min-height: 59vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  margin-top: 50px;
}


.hero_cnt1 span {
  display: inline-block;
  padding:12px 20px;
  background: #f5f0ff;
  color: #ef0808;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  margin-bottom: 20px;
}

.hero_cntmid{
  margin-top: 20px;
}

.hero_cntmid h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.25;
}

.hero_cntmid h1 span {
  color: #7b3fe4;
}

.hero_cntmid p {
  margin-top: 14px;
  max-width: 600px;
  font-size: 15px;
  color: #777;
}


.hero_input {
  margin-top: 25px;
  width: 100%;
  max-width: 520px;
}

.hero_input form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.hero_input {
  margin-top: 25px;
  width: 100%;
  max-width: 620px;
}

.hero_input form {
  position: relative;
  width: 100%;
}

.hero_input input {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  padding: 18px 70px 18px 22px; 
  border-radius: 999px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #fff;
  margin: auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}


.hero_input button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: #7b3fe4;
  color: #fff;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_input button:hover {
  background: #6532c9;
}

@media (max-width: 768px) {
  .hero_cntmid h1 {
    font-size: 34px;
  }

  .hero_input {
    max-width: 95%;
  }
}
