.login_cnt {
  width: 100%;
  min-height: 100vh;
  background: #f4f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.login_mid {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15);
}

.login_mid h1 {
  text-align: center;
  font-size: 27px;
  margin-bottom: 20px;
  color: #2a2a2a;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  outline: none;
  transition: 0.3s ease;
}

input:focus {
  border-color: #4a6cff;
  box-shadow: 0px 0px 6px rgba(74, 108, 255, 0.35);
}


.login_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.login_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_form1 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.login_formrght {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.login_btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  background: #4a6cff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login_btn:hover {
  background: #354dcc;
}



@media (max-width: 768px) {
  .login_mid {
    width: 80%;
    padding: 25px;
  }

  .login_form {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 480px) {
  .login_mid {
    width: 100%;
    padding: 20px;
  }

  .login_mid h1 {
    font-size: 22px;
  }

  .login_btn {
    font-size: 15px;
    padding: 10px;
  }
}
